#dashboard-container {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #040404;
  flex: 1 0 50%;
}

#dashboard {
  display: flex;
  flex-flow: row wrap;
  border-top: 5px solid #040404;
}

#dashboard > .grid-cell {
  flex: 1 0 250px;
  min-height: 250px;
  background: #242424;
  border-bottom: 5px solid #040404;
  border-left: 5px solid #040404;
  padding: 0;
}

.card-container {
  padding: 10px 10px 10px 10px !important;
}

.card-title {
  background: #444444;
  color: #A4A4A4;
  margin: -10px -10px 0px -10px;
  border: 5px solid #444444;
}

{% for card in dashboard %}
#card-container-{{ card.id }} {
  flex-grow: {{ card.flex_grow }} !important;
  flex-shrink: {{ card.flex_shrink }} !important;
  flex-basis: {{ card.width }} !important;
  height: {{ card.height }} !important;
}
{% endfor %}
