/**
The app.js module contains the aspect app logic.
@module app.js
**/

function refreshLayout() {
    $(".panel-left").resizable({
        handleSelector: ".splitter",
        resizeHeight: false,
        resixeWidthFrom: 'right'
    });
}

function _refreshApp(cursor, destination) {
    /**
        Clears all interactive elements relevant to library navigation
          - breadcrumb
          - searchbar
          - sidebar
        @function
        @param {string} cursor - fullpath to a key in LIBRARY (ie lib.pkg.module)
        @param {string} destination - partial path to python modules in LIBRARY
                                      given cursor position (ie pkg.module)
        @return {undefined}
    **/
    refreshLayout();
    refreshBreadcrumb(cursor, destination);
    refreshSearchbar(cursor, destination);
    refreshSidebar(cursor, destination);
}

function refreshApp(e) {
    /**
        Event listener that calls _refreshApp upon enter key and valid cursor
        @function
        @param {event} e - event object used to signal a call attempt
        @return {undefined}
    **/
    var keys = ['Enter']; //, '.'];
    if (_.includes(keys, e.key)) {
        var destination = document.getElementById('searchbar').value;
        var cursor = document.getElementById('breadcrumb-nav').getAttribute('data-cursor');
        var newCursor = cursor + '.' + destination;

        // if new cursor is a valid path in python library
        if ( _.includes(libraryToList(LIBRARY), newCursor) ) {
            _refreshApp(cursor, destination);
        }
    }
}

// ---MAIN----------------------------------------------------------------------
function main() {
    /**
        Calls _refreshApp when page is loaded
        @function
        @return {undefined}
    **/
    var breadcrumb = document.getElementById('breadcrumb-nav');
    var cursor = libraryToList(LIBRARY)[0];
    breadcrumb.setAttribute('data-cursor', cursor);
    _refreshApp(cursor, '');
}

$(document).ready(function(){
    main();
});
