/**
The aspect.js module is responsible for handling the client display and
request functionality of aspect.
@module aspect.js
**/

// ---UTILS---------------------------------------------------------------------
{% include 'js/utils.js.j2' %}

// ---EVENTS--------------------------------------------------------------------
{% include 'js/events.js.j2' %}

// ---WIDGETS-------------------------------------------------------------------
{% include 'js/widgets.js.j2' %}

// ---LIBRARY-------------------------------------------------------------------
{% include 'js/library.js.j2' %}

// ---TREE----------------------------------------------------------------------
{% include 'js/tree.js.j2' %}

// ---SIDEBAR-------------------------------------------------------------------
{% include 'js/sidebar.js.j2' %}

// ---SEARCHBAR-----------------------------------------------------------------
{% include 'js/searchbar.js.j2' %}

// ---APP-----------------------------------------------------------------------
{% include 'js/app.js.j2' %}
