/**
The events.js module is responsible for handling client-side events fired by ui
interactions.
@module events.js
**/
// -----------------------------------------------------------------------------
var API_URL = "{{ api_url }}";

class AspectRequest {
    constructor(widget, value, library) {
        undefinedError(widget);
        undefinedError(library);

        this._url = API_URL;
        this._library = library;
        this.cursor = [];

        // component name to data key lookup table
        this.lut = {
            'arg'      : 'args',
            'attribute': 'attributes',
            'class'    : 'classes',
            'function' : 'functions',
            'kwarg'    : 'kwargs',
            'method'   : 'methods',
            'module'   : 'modules',
            'variable' : 'variables'
        };

        this._setProperties(widget);

        this.value = value;
        this.set(value);
    }

    _setProperties(widget) {
        // set component types
        this.paramType = widget.getAttribute('data-param-type');
        this.objectType = widget.getAttribute('data-object-type');

        // set widget id (ie full context)
        var id = widget.id;
        this.widgetId = id;

        // set param id and name
        id = _.replace(id, '-widget', '');
        var temp = _.split(id, '-');

        // Find module id in this._library
        var modId = null;
        for (var i = temp.length; i > 0; i--) {
            modId = _.join(_.slice(temp, 0, i), '.');
            if (_.includes(this._library.toList(), modId)) {
                break;
            }
        }

        // throw error if modId not in this._library
        if (modId == null) {
            throw('Module ID not found in this._library. Widget ID: ' + widget.id);
        }

        // resolve module
        this.moduleId = modId;
        this.moduleName = _.last(_.split(modId, '.'));

        // resolve class
        var rem = _.slice(temp, i);
        id = this.moduleId;
        if (_.includes(['method', 'attribute'], this.objectType)) {
            this.clsName = _.first(rem);
            id = id + '.' + this.clsName;
            this.clsId = id;
            rem = _.slice(rem, 1);
        }

        // resolve object
        this.objectName = rem[0];
        id = id + '.' + this.objectName;
        this.objectId = id;

        // resolve parameter
        this.paramName = rem[1];
        id = id + '.' + this.paramName;
        this.paramId = id;
    }
    // -------------------------------------------------------------------------

    toModule() {
        this.cursor = [];
        this.cursor.push(this.moduleId);
        return this._library.get(this.moduleId);
    }

    toClass() {
        var sel = this.toModule();
        if (this.clsName != undefined) {
            sel = sel['classes'];
            this.cursor.push('classes');

            var i = keyToIndex(sel, this.clsName);
            this.cursor.push(i);

            return sel[i];
        }
        throw 'class not found: ' + sel.moduleId;
    }

    toMethod() {
        var sel = this.toClass();
        if (this.objectType != undefined) {
            var oType = this.lut[this.objectType];
            sel = sel[oType];
            this.cursor.push(oType);

            var i = keyToIndex(sel, this.objectName);
            this.cursor.push(i);
            return sel[i];
        }
        throw 'method not found: ' + sel.classId;
    }

    toAttribute() {
        var sel = this.toClass();
        if (this.objectType != undefined) {
            var oType = this.lut[this.objectType];
            sel = sel[oType];
            this.cursor.push(oType);

            var i = keyToIndex(sel, this.objectName);
            this.cursor.push(i);
            return sel[i];
        }
        throw 'attribute not found: ' + sel.classId;
    }

    toFunction() {
        var sel = this.toModule();
        if (this.objectType != undefined) {
            var oType = this.lut[this.objectType];
            sel = sel[oType];
            this.cursor.push(oType);

            var i = keyToIndex(sel, this.objectName);
            this.cursor.push(i);
            return sel[i];
        }
        throw 'function not found: ' + sel.moduleId;
    }


    toParameter() {
        var sel = this.toType('object');
        if (this.paramType != undefined) {
            if (_.includes(['arg', 'kwarg'], this.paramType)) {
                var pType = this.lut[this.paramType];
                sel = sel[pType];
                this.cursor.push(pType);

                var i = keyToIndex(sel, this.paramName);
                this.cursor.push(i);
                return sel[i];
            } else {
                return sel;
            }
        }
        throw 'parameter not found: ' + sel.objectId;
    }

    toVariable() {
        var sel = this.toModule();
        if (this.objectType != undefined) {
            var oType = this.lut[this.objectType];
            sel = sel[oType];
            this.cursor.push(oType);

            var i = keyToIndex(sel, this.objectName);
            this.cursor.push(i);
            return sel[i];
        }
        throw 'variable not found: ' + sel.moduleId;
    }

    toType(type='parameter') {
        if (type == 'module') {
            return this.toModule();;
        }

        if (type == 'class') {
            return this.toClass();
        }

        if (type == 'method') {
            return this.toMethod();
        }

        if (type == 'function') {
            return this.toFunction();
        }

        if (type == 'attribute') {
            return this.toAttribute();
        }

        if (type == 'parameter') {
            return this.toParameter();
        }

        if (type == 'variable') {
            return this.toVariable();
        }

        if (type == 'object') {
            if (this.objectType == 'method') {
                return this.toMethod();

            } else if (this.objectType == 'function') {
                return this.toFunction();

            } else if (this.objectType == 'attribute') {
                return this.toAttribute();

            } else if (this.objectType == 'variable') {
                return this.toVariable();
            }
        }
    }
    // -------------------------------------------------------------------------

    toData(id=null) {
        var lib = this._library;
        var data = {
            'action': 'execute',
            'module': this.moduleId
        };
        var oType = this.objectType;
        data[oType] = this.objectName;

        if (this.clsName != undefined) {
            data['class_'] = this.clsName;
        }

        if (id != null) {
            data['id_'] = id;
        }

        var obj = this.toType('object');

        if (_.has(obj, 'value')) {
            data['value'] = obj.value;

        } else {
            var args = this._addArgData(obj, data);
            var kwargs = this._addKwargData(obj, data);
        }

        return data;
    }

    _addArgData(obj, data) {
        if (_.has(obj, 'args')) {
            var args = [];
            for (var i in obj['args']) {
                var arg = obj['args'][i]['value'];
                args.push(arg);
            }
            data['args'] = args;
        }
    }

    _addKwargData(obj, data) {
        if (_.has(obj, 'kwargs')) {
            var kwargs = {};
            for (var i in obj['kwargs']) {
                var kwarg = obj['kwargs'][i];
                kwargs[kwarg['name']] = kwarg['value'];
            }
            data['kwargs'] = kwargs;
        }
    }
    // -------------------------------------------------------------------------

    set(value) {
        var item = this.toParameter();
        // this._library.set(this.cursor, value);
        item['value'] = value;
    }
    // -------------------------------------------------------------------------

    send() {
        var data = this.toData();
        data = JSON.stringify(data);
        console.log({'REQUEST': data});

        function getResponse() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.response).data;
                console.log(response);
            }
        }

        // var request = new Request(this._url, {
        //     headers: new Headers({
        //         'Content-Type': 'application/json',
        //         'method': 'POST',
        //         'data': data
        //     })
        // });

        // fetch(request).then(function() {
        //     if (this.readyState == 4 && this.status == 200) {
        //         var response = JSON.parse(this.response).data;
        //         return response;
        //     }
        // }).catch(function(err) {
        //     console.log(err);
        // });

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = getResponse;
        xhr.open('POST', this._url, true);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(data);
    }
}
// -----------------------------------------------------------------------------
