  <div class="grid-cell" id="dashboard-container">
    <div class="grid" id="dashboard">
{##}{% for card in dashboard %}
      <div class="grid-cell" id="card-container-{{ card.id }}">
        <h3>{{ card.title }}</h3>
        <div id="card">
          {{ card.html }}
        </div>
      </div>
{##}{% endfor %}
    </div>
  </div>
