<!DOCTYPE html>
<html lang="en">
  {% include "head.html.j2" %}
  <body>
    {# {% include "navbar.html.j2" %}
    <div class="grid" id="app">
      {% include 'dashboard.html.j2' %}
      {% include 'sidebar.html.j2' %}
    </div> #}
    {% include 'treegrid.html.j2' %}
    {% include "script.html.j2" %}
  </body>
</html>
