#navbar-container {
}

#navbar {
  top: -5px;
  background: #242424;
  border-bottom: 5px solid #000;
  height: 45px;
}

#navbar-header-container {
  padding: 0px 15px 0px 15px !important;
}

#logo {
  padding-top: 17px;
  color: #B6ECF3;
}

.breadcrumb > li + li:before {
    color: #A4A4A4;
    content: "/ ";
    padding: 0px 2px 0px 0px;
    font-size: 20px;
}

.breadcrumb-item:hover a {
  color: #FFFFFF;
}

.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item.active {
    color: #A4A4A4;
    font-size: 20px;
}

.breadcrumb-item.active {
    color: #F4F4F4;
}

#search-container {
  display: flex;
  flex: 1 0 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

#search {
  display: flex;
  flex: 1 0 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

#searchbar, #searchbar:focus {
    width: 500px !important;
    background: #444444;
    color: #A4A4A4;
    border: 2px solid #444444;
    border-radius: 3px;
}

#sidebar-btn, #sidebar-btn:before, #sidebar-btn:after {
  display: flex !important;
  flex: 1 0 50px !important;
  align-items: center;
  background: #444444;
  color: #A4A4A4;
  height: 25px;
  width: 25px;
  margin-left: 20px;
}

#sidebar-btn:hover {
  background: #A4A4A4;
  color: #444444;
}

#sidebar-icon {
}
