html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #A4A4A4;
  font-size:14px;
  font-family:Verdana, Geneva, sans-serif;
  background: #000000;
}

#navbar-container {
  height: 50px;
}

#navbar {
  background: #242424;
  border-bottom: 5px solid #000;
}

#app {
  display : -webkit-flex;
  display : -ms-flexbox;
  display : flex;
  width: 100%;
}

#dashboard-container {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #000000;
  flex: 1 0 50%;
}

#dashboard {
  display: flex;
  flex-flow: row wrap;
  margin: 0px -5px -5px 0px;
  border-top: 5px solid #000000;
}

#sidebar-container {
  flex: 0 1 400px;
  min-width: 400px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #000000;
  border-left: 5px solid #000000;
}

#sidebar {
  position: fixed;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #242424;
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.table-responsive {
  background: #242424 !important;
  border: 0px !important;
  width: 400px !important;
}

.treegrid-node {
  background: #242424 !important;
  border: 0px !important;
}

tr {
  background: #242424 !important;
  border: 1px solid #444444 !important;
}

td {
  background: #242424 !important;
  border: 1px solid #444444 !important;
}

#dashboard > .grid-cell {
  flex: 1 0 250px;
  min-height: 250px;
  background: #242424;
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  padding: 0;
}

{% for card in dashboard %}
#card-container-{{ card.id }} {
  flex-grow: {{ card.flex_grow }} !important;
  flex-shrink: {{ card.flex_shrink }} !important;
  flex-basis: {{ card.width }} !important;
  height: {{ card.height }} !important;
}
{% endfor %}

.grid {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  overflow:hidden;
}

.grid-cell {
  overflow:hidden;
}

{# {
  box-sizing : border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} #}
