<!DOCTYPE html>
<html lang="en">
  {% include 'html/head.html.j2' %}
  <body>
    {% include 'html/navbar.html.j2' %}
    <div id="left">
    {% include 'html/dashboard.html.j2' %}
    </div>

    <div id="right">
      {% include 'html/sidebar.html.j2' %}
    </div>
    {% include 'html/script.html.j2' %}
  </body>
</html>
