<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
  <div class="container-fluid" id="navbar-header-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand icon node-icon fa fa-first-order fa-lg align-middle" href="#" id="logo"></a>
      <ol class="breadcrumb navbar-left">
      {% for node in filetree[:-1] %}
          <li class="breadcrumb-item"><a href="#">{{ node }}</a></li>
      {% endfor %}
          <li class="breadcrumb-item active">{{ filetree[-1] }}</li>
      </ol>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="hamburger">
      <div class="grid" id="search-container">
        {% include 'html/searchbar.html.j2' %}
        <div class="grid-cell" id="sidebar-toggle">
          <button class="btn" type="button" id="sidebar-btn" onclick="toggleSidebar()">
            <i class="fa fa-caret-right fa-2x" id="sidebar-icon"></i>
          </button>
        </div>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
