{% macro bower(filepath) -%}
{##}{{ url_for('static', filename='bower_components/' + filepath) }}
{%- endmacro %}
<script src="{{ bower('jquery/dist/jquery.min.js') }}"></script>
<script src="{{ bower('bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ bower('patternfly/dist/js/patternfly.min.js') }}"></script>
<script src="{{ bower('plotly.js/dist/plotly.min.js') }}"></script>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});

// Init treegrid
$('.table-treegrid').treegrid();

function toggleSidebar() {
    var right = $("#right")[0];
    var left = $("#left")[0];
    var sidebarIcon = $("#sidebar-icon")[0];
    if (right.style.display === 'none') {
        right.style.display = 'block';
        left.style.width = "70%";
        sidebarIcon.className = "fa fa-caret-right fa-2x"
    } else {
        right.style.display = 'none';
        left.style.width = "100%";
        sidebarIcon.className = "fa fa-caret-left fa-2x"
    }
};
</script>
