{# ---ROW-------------------------------------------------------------------- #}
{% macro to_row(item, parent, value="", icon="", data_parent=True) -%}
    {% if data_parent %}
      <tr data-parent="#{{ parent }}" id="{{ parent + '-' + item.name }}">
    {% else %}
      <tr id="{{ item.name }}">
    {% endif %}
      <td class="treegrid-node" id="sidebar-key">
        <span class="icon node-icon fa {{ icon }}"></span>
        {{ item.name }}
      </td>
      <td id="sidebar-value">{{ value }}</td>
    </tr>
{%- endmacro %}

{# ---FUNCTION--------------------------------------------------------------- #}
{% macro to_tree_function(func, parent, icon='fa-circle-thin') -%}
    {{ to_row(func, parent, icon=icon) }}
    {% set parent = parent + '-' + func.name %}

    {% if 'args' in func %}
      {% for arg in func.args %}
        {{ to_row(arg, parent, arg.value, icon='fa-asterisk') }}
      {% endfor %}
    {% endif %}

    {% if 'kwargs' in func %}
      {% for kwarg in func.kwargs %}
        {{ to_row(kwarg, parent, kwarg.default, icon='fa-check-square') }}
      {% endfor %}
    {% endif %}

{%- endmacro %}

{# ---CLASS------------------------------------------------------------------ #}
{% macro to_tree_class(cls, parent) -%}
  {{ to_row(cls, parent, icon='fa-cogs') }}
  {% set parent = parent + '-' + cls.name %}

  {% if 'methods' in cls %}
    {% for method in cls.methods %}
      {{ to_tree_function(method, parent, icon='fa-cog') }}
    {% endfor %}
  {% endif %}

  {% if 'attributes' in cls %}
    {% for attribute in cls.attributes %}
      {{ to_row(attribute, parent, attribute.value, icon='fa-flag-o') }}
    {% endfor %}
  {% endif %}

{%- endmacro %}

{# ---MODULE----------------------------------------------------------------- #}
{% macro to_tree_module(module) -%}
  {{ to_row(module, module.name, icon='fa-file', data_parent=False) }}
  {% set parent = module.name %}

  {% if 'classes' in module %}
    {% for cls in module.classes %}
      {{ to_tree_class(cls, parent) }}
    {% endfor %}
  {% endif %}

  {% if 'functions' in module %}
    {% for func in module.functions %}
      {{ to_tree_function(func, parent) }}
    {% endfor %}
  {% endif %}

  {% if 'variables' in module %}
    {% for variable in module.variables %}
      {{ to_row(variable, parent, variable.value, icon='fa-flag') }}
    {% endfor %}
  {% endif %}

{%- endmacro %}

{# ---TREEGRID--------------------------------------------------------------- #}
<div class="table-responsive">
  <table class="table table-hover table-treegrid">
    {# <thead>
    <tr>
      <th>object</th>
      <th>value</th>
    </tr>
    </thead> #}
    <tbody id="sidebar-body">
    {# {% for module in library.modules %}
      {{ to_tree_module(module) }}
    {% endfor %} #}
    </tbody>
  </table>
</div>
