.grid {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  overflow-y: hidden;
}

.grid-cell {
  overflow-y: hidden;
}

tr {
  background: #242424 !important;
  border: 1px solid #444444 !important;
}

td {
  background: #242424 !important;
  border: 1px solid #444444 !important;
  padding: 0px 0px 0px 5px !important;
  width: 50%;
}

.indent {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

#sidebar-container {
  display: flex;
  flex: 0 1 400px;
  min-width: 400px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #040404;
}

#sidebar {
  padding: 0px;
  background: #242424;
  height: 100%;
  min-width: 400px !important;
  overflow-y: auto !important;
}

#execute-action-button,
#execute-action-button:before,
#execute-action-button:after,
#execute-action-button:hover {
  display: flex !important;
  justify-content: center;
  overflow-y: none !important;
  top: -50px;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 5px solid #040404;
  border-left: 0px solid #040404;
  background: #444444;
  color: #A4A4A4;
}

#execute-action-button:hover {
  background: #F77E70;
  color: #242424;
}

#execute-action-button:after {
  background: #F4F4F4;
  color: #444444;
}

.table-responsive {
  background: #242424 !important;
  overflow-y: auto !important;
  /*border-top: 5px solid #040404;*/
}

.treegrid-node {
  background: #242424 !important;
  border: 0px !important;
}

#sidebar-key {
  word-wrap: break-word !important;
}

#sidebar-value: {
  text-align: center;
}

.sidebar-val-input:focus {
  outline: 1PX solid #A4A4A4;
}

[data-icon-type="module"] {
  color: #F4F4F4;
}

[data-icon-type="variable"] {
  color: #DE958E;
}

[data-icon-type="class"] {
  color: #A4A4A4;
}

[data-icon-type="method"] {
  color: #A4A4A4;
}

[data-icon-type="attribute"] {
  color: #DE958E;
}

[data-icon-type="function"] {
  color: #A4A4A4;
}

[data-icon-type="arg"] {
  color: #93B6E6;
}

[data-icon-type="kwarg"] {
  color: #E9EABE;
}
