html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #A4A4A4;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
  background: #000000;
  outline: none !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input[type=text], input[type=text]:focus,
textarea, textarea:focus {
  -moz-box-shadow: 0 0 0px;
  -webkit-box-shadow: 0 0 0px;
  outline: none;
}

input[type=text]:hover, textarea:hover,
input[type=text]:focus, textarea:focus {
  outline: 1px solid #A4A4A4;
}

.btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus {
  -moz-box-shadow: 0 0 0px;
  -webkit-box-shadow: 0 0 0px;
  outline: none;
}

{% include 'css/layout.css.j2' %}
{% include 'css/navbar.css.j2' %}
{% include 'css/dashboard.css.j2' %}
{% include 'css/sidebar.css.j2' %}
{% include 'css/widgets.css.j2' %}
