.sidebar-val-input, .sidebar-val-input:active {
    background: #343434;
    color: #A4A4A4;
    border: 0px solid #242424;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: -5px;
    width: 100%;
}

.sidebar-val-input:active, .sidebar-val-input:hover, .sidebar-val-input:after {
    outline: 1px solid #A4A4A4;
}

.slider-track {
    height: 5px !important;
}

.slider-selection {
    background: #343434;
}

.slider-track-high {
    background: #444444;
}

.slider-handle {
    background: #A4A4A4;
    height: 15px;
    width: 15px;
}
