.sidebar-val-input, .sidebar-val-input:active {
    background: #343434;
    color: #A4A4A4;
    border: 0px solid #242424;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: -5px;
    width: 100%;
}

.sidebar-val-input:active, .sidebar-val-input:hover, .sidebar-val-input:after {
    outline: 1px solid #A4A4A4;
}

.slider-track {
    height: 5px !important;
}

.slider-selection {
    background: #343434;
}

.slider-track-high {
    background: #444444;
}

.slider-handle.custom {
    width: 0px;
    top: -4px !important;
}

.slider-handle.custom::before {/
    line-height: 15px;
    font-size: 15px;
    color: #B6ECF3;
    content: "\25bc";
    background: transparent;;
    top: inherit;
    margin-left: 3px;
}

.bootstrap-switch {
    border: 1px solid #444444;
    height: 20px;
}

.bootstrap-switch:hover,
.bootstrap-switch:active,
.bootstrap-switch:focus,
.bootstrap-switch.bootstrap-switch-focused {
    border: 1px solid #444444 !important;
    box-shadow: none !important;
    outline: none !important;
    -moz-box-shadow: 0 0 0px !important;
    -webkit-box-shadow: 0 0 0px !important;
}

.bootstrap-switch:hover {
    border: 1px solid #A4A4A4 !important;
}

/*.bootstrap-switch-wrapper,
.bootstrap-switch-wrapper:before,
.bootstrap-switch-wrapper:after,
.bootstrap-switch-wrapper:hover,
.bootstrap-switch-wrapper:active,
.bootstrap-switch-wrapper:focus {
    -moz-box-shadow: 0 0 0px !important;
    -webkit-box-shadow: 0 0 0px !important;
    outline: none !important;
}*/

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #B6ECF3;
    color: #242424;

}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #242424;
    color: #B6ECF3;
}

.bootstrap-switch .bootstrap-switch-label {
    background: #343434;
    color: #A4A4A4;
}

.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-label {
    /*height: 20px;*/
    /*padding-bottom: 4px;*/
}
