<!DOCTYPE html>
<html lang="en">
{% include 'html/head.html.j2' %}
<!-- ============================================================================================================================================== -->

  <body>
{##}{% include 'html/navbar.html.j2' %}
    <div class="panel-buffer">
        <div class="panel-container">

            <!-- left -->
            <div class="panel-left" id="left">
{#          #}{% include 'html/dashboard.html.j2' %}
            </div>

            <div class="splitter"></div>

            <!-- right -->
            <div class="panel-right" id="right">
{#          #}{% include 'html/sidebar.html.j2' %}
            </div>
        </div>
<!-- ============================================================================================================================================== -->

{##}{% include 'html/script.html.j2' %}
  </body>
</html>
