            <!-- searchbar -->
            <div class="grid-cell" id="search">
              <input class="form-control"
                type="text"
                id="searchbar"
                placeholder="search library"
                list="library"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                onkeypress="APP.refresh(event)">
              <datalist id="library">
              </datalist>
            </div>
